<div class="backdropSidebar iconClose"></div>
<div class="sideBarPanel">
    <div class="personSettingsPanelContainer">
        <div class="personSettingsPanelHeader">
            <div class="actionBtns">
                <div class="backPanelpersonSettings sidebarBtnOpen" data-target="components/sideBar/profileSideBar/">
                    <svg class="ohGHbMkZKR cor-w-panel-l-header__fake-icon" viewBox="0 0 24 24" role="presentation" focusable="false" aria-hidden="true" style="opacity: 1;"><path fill="currentColor" fill-rule="evenodd" d="M15.707 4.293a1 1 0 0 1 0 1.414L9.414 12l6.293 6.293a1 1 0 0 1-1.414 1.414l-7-7a1 1 0 0 1 0-1.414l7-7a1 1 0 0 1 1.414 0Z" clip-rule="evenodd"></path></svg>
                </div>
                <div class="closePanelpersonSettings iconClose">
                    <svg class="ohGHbMkZKR cor-w-panel-l-header__fake-icon" viewBox="0 0 24 24" role="presentation" focusable="false" aria-hidden="true" style="opacity: 1;"><path fill="currentColor" fill-rule="evenodd" d="M5.293 5.293a1 1 0 0 1 1.414 0L12 10.586l5.293-5.293a1 1 0 1 1 1.414 1.414L13.414 12l5.293 5.293a1 1 0 0 1-1.414 1.414L12 13.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L10.586 12 5.293 6.707a1 1 0 0 1 0-1.414Z" clip-rule="evenodd"></path></svg>
                </div>
            </div>
            <div class="titleHeader">
                <h2>Configurações Pessoais</h2>
            </div>
        </div>
        <div class="personSettingsPanelContent">
            <div class="btnsSectionTitle">
                <p>Dados</p>
            </div>
            <div class="inputName">
                <label>
                    <div class="labelContent">
                        <span class="placeholder">
                            Nome
                        </span>
                        <input name="chave" type="text" value="JHONATAN WILLIAM SANTOS DA MOTA" id="input-chavePix" maxlength="56" readonly>
                    </div>
                </label>
                <label>
                    <div class="labelContent">
                        <span class="placeholder">
                            Email
                        </span>
                        <input name="amount" type="text" value="diones77xl@gmail.com" id="input-valor" maxlength="50" readonly>
                    </div>
                </label>
                <label>
                    <div class="labelContent">
                        <span class="placeholder">
                            Telefone
                        </span>
                        <input name="amount" type="text" value="(55) 11934-011422" id="input-valor" maxlength="50" readonly>
                    </div>
                </label>
                <label>
                    <div class="labelContent">
                        <span class="placeholder">
                            Documento (CPF)
                        </span>
                        <input name="chave" type="text" value="PENDENTE" id="input-chavePix" maxlength="56" readonly>
                    </div>
                </label>
                <label>
                    <div class="labelContent">
                        <span class="placeholder">
                            País
                        </span>
                        <input name="amount" type="text" value="Brasil" id="input-valor" maxlength="50" readonly>
                    </div>
                </label>
            </div>
            <br>
            <div class="btnsSection">
                <div class="btnsSectionTitle">
                    <p>Segurança</p>
                </div>
                <div class="settingsBtn sidebarBtnOpen" data-target="components/sideBar/newPasswordSideBar">
                    <div class="titleSettingsBtn">
                        <p>Alterar senha</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="btnsSection">
                <div class="btnsSectionTitle">
                    <p>KYC</p>
                </div>
                <div class="settingsBtn sidebarBtnOpen" data-target="components/sideBar/verificationSideBar">
                    <div class="titleSettingsBtn">
                        <p>Verificação de documentos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>